# /apps
apps/nasm-master/config.log
apps/nasm-master/configure.lineno
apps/*/*.o
apps/*/*.obj
apps/*/*/*.o
apps/out
apps/libs
apps/doomgeneric/*.o
apps/sdl2/*.o
apps/sdl2_old/*.o

# /
.vscode
c.py
cloc.exe

Loader/out

.bin
.build
.lib

fattools/fattools

# /kernel
kernel/*.img
kernel/*.log
kernel/disk.vhd
kernel/obj
kernel/img
