*.a
*.bin
*.coff
*.dbg
*.exe
*.com
*.lib
*.i
*.ith
*.lst
*.map
*.mo32
*.mo64
*.o
*.o64
*.obj
*.obj64
*.od
*.orig
*.out
*.pdb
*.rdf
*.rej
*.s
*.srec
*.si
*.swp
*.time
*.win32
*.win64
*.xml
.*swo
*~
\#*
.\#*
*.bak
*.tmp
.git-ignore
cscope*
tags
TAGS
